<ion-header>
  <ion-toolbar>
    <ion-title>Notas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let nota of notas">
      <ion-label>
        <h2>{{ nota.titulo }}</h2>
        <p>{{ nota.contenido }}</p>
        <p>Fecha: {{ nota.fecha }}</p>
      </ion-label>
      <ion-button fill="clear" (click)="editarNota(nota)">Editar</ion-button>
      <ion-button fill="outline" color="danger" (click)="eliminarNota(nota.id)">Eliminar</ion-button>
    </ion-item>
  </ion-list>
  <ion-button expand="full" (click)="agregarNota()">Añadir Nota</ion-button>
  <ion-button expand="full" color="secondary" (click)="volverInicio()">Volver a Inicio</ion-button>
</ion-content>
