<ion-header>
  <ion-toolbar>
    <ion-title>Notas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Botón para agregar notas -->
  <ion-button expand="full" (click)="agregarNota()">Añadir Nota</ion-button>

  <ion-item *ngFor="let nota of notas">
    <ion-label>
      <h2>{{ nota.titulo }}</h2>
      <p>{{ nota.contenido }}</p>
      <p><strong>Fecha:</strong> {{ nota.fecha | date: 'short' }}</p>
    </ion-label>
    <ion-button (click)="editarNota(nota)" fill="clear">Editar</ion-button>
    <ion-button (click)="eliminarNota(nota)" fill="clear">Eliminar</ion-button>
  </ion-item>

  <!-- Botón para volver a inicio -->
  <ion-button expand="full" routerLink="/bienvenida">Volver a Inicio</ion-button>
</ion-content>
