<ion-list>
  <ion-item *ngFor="let nota of notas">
    <ion-label>
      <h2>{{ nota.titulo }}</h2>
      <p>{{ nota.contenido }} - {{ nota.fecha }}</p>
    </ion-label>
    <ion-button fill="clear" (click)="abrirModalEditar(nota)">Editar</ion-button>
    <ion-button fill="clear" color="danger" (click)="eliminarNota(nota.id)">Eliminar</ion-button>
  </ion-item>
</ion-list>

<ion-button expand="full" (click)="abrirModalAgregar()">Añadir Nota</ion-button>
<ion-button expand="full" color="secondary" (click)="volverInicio()">Volver a Inicio</ion-button>
