<ion-list>
  <ion-item *ngFor="let tarea of tareas">
    <ion-label>
      <h2>{{ tarea.titulo }}</h2>
      <p>{{ tarea.descripcion }} - {{ tarea.fecha }} - Prioridad: {{ tarea.prioridad }}</p>
    </ion-label>
    <ion-button fill="clear" (click)="abrirModalEditar(tarea)">Editar</ion-button>
    <ion-button fill="clear" color="danger" (click)="eliminarTarea(tarea.id)">Eliminar</ion-button>
  </ion-item>
</ion-list>

<ion-button expand="full" (click)="abrirModalAgregar()">Añadir Tarea</ion-button>
<ion-button expand="full" color="secondary" (click)="volverInicio()">Volver a Inicio</ion-button>
